<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
	   <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
	   <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/BanqueBD</property>
	   <property name="hibernate.connection.username">root</property>
	   <property name="hibernate.connection.password"></property>
	   
	   <property name="hibernate.current_session_context_class">thread</property>
	   <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>	   
	   
	   
	   <property name="show_sql">true</property>
	   <property name="hibernate.format_sql">true</property>
	   <property name="use_sql_comments">true</property>
	   
	   <property name="hbm2ddl.auto">update</property>
	   
	   <mapping class="uh1.ac.ma.metier.entities.Client"/>
	   <mapping class="uh1.ac.ma.metier.entities.Adminstrateur"/>
	   <mapping class="uh1.ac.ma.metier.entities.Agence"/>
	   <mapping class="uh1.ac.ma.metier.entities.Agent"/>
	   <mapping class="uh1.ac.ma.metier.entities.Compte"/>
	   <mapping class="uh1.ac.ma.metier.entities.CompteCourant"/>
	   <mapping class="uh1.ac.ma.metier.entities.CompteEpargne"/>
	   <mapping class="uh1.ac.ma.metier.entities.Utilisateur"/>
	   <mapping class="uh1.ac.ma.metier.entities.Operation"/>
	   	   
	   
   </session-factory>
</hibernate-configuration>